*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

html{
    scroll-behavior:smooth;
}

body{
    background:#0d1117;
    color:#f8fafc;
}

header{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:22px 90px;
    background:rgba(13,17,23,.90);
    backdrop-filter:blur(12px);
    border-bottom:1px solid #1f2937;
    z-index:999;
}

.logo{
    font-size:30px;
    font-weight:bold;
    color:#38bdf8;
}

nav{
    display:flex;
    gap:35px;
}

nav a{
    color:white;
    text-decoration:none;
    transition:.3s;
    font-size:17px;
}

nav a:hover{
    color:#38bdf8;
}

.hero{
    min-height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:120px 20px;
}

.hero h1{
    font-size:72px;
    margin-bottom:20px;
}

.hero p{
    max-width:760px;
    color:#94a3b8;
    font-size:21px;
    line-height:1.9;
    margin-bottom:40px;
}

.btn{
    text-decoration:none;
    color:white;
    background:#2563eb;
    padding:16px 38px;
    border-radius:12px;
    transition:.3s;
    font-weight:bold;
}

.btn:hover{
    background:#1d4ed8;
    transform:translateY(-4px);
}

.about,
.services,
.contact{
    padding:110px 90px;
}

.about h2,
.services h2,
.contact h2{
    text-align:center;
    font-size:42px;
    margin-bottom:25px;
}

.about p{
    max-width:900px;
    margin:auto;
    text-align:center;
    color:#94a3b8;
    line-height:2;
    font-size:19px;
}

.cards{
    margin-top:50px;
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(320px,1fr));
    gap:30px;
}

.card{
    background:#161b22;
    border:1px solid #30363d;
    border-radius:18px;
    padding:35px;
    transition:.35s;
}

.card:hover{
    transform:translateY(-10px);
    border-color:#38bdf8;
    box-shadow:0 0 25px rgba(56,189,248,.15);
}

.card h3{
    color:#38bdf8;
    margin-bottom:18px;
    font-size:28px;
}

.card p{
    color:#94a3b8;
    line-height:1.9;
    font-size:17px;
}

.contact{
    text-align:center;
}

.contact p{
    color:#94a3b8;
    font-size:18px;
}

footer{
    border-top:1px solid #30363d;
    padding:35px;
    text-align:center;
    color:#64748b;
}

@media(max-width:900px){

header{
    flex-direction:column;
    gap:20px;
    padding:25px;
}

nav{
    flex-wrap:wrap;
    justify-content:center;
}

.hero h1{
    font-size:48px;
}

.hero p{
    font-size:18px;
}

.about,
.services,
.contact{
    padding:90px 25px;
}

}
